@import '../../variables.scss';
@import './PieComponent.scss';

#SkillsComponent {
    @extend %window;

    .skill-main {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;

        .container {
            flex: 1;
            display: flex;
            align-items: center;
            justify-items: center;

            .charts-container {
                width: 100%;
                margin: auto;
            }

            .set-size {
                font-size: 6em;
            }

            * {
                box-sizing: border-box;
            }
        }

        .label {
            font-size: 0.4em;
            line-height: 1.8em;
        }


        @mixin pie-color($main-color)  {
            .label {
                color: $main-color  !important;
            }

            .half-circle {
                border-color: $main-color;
            } 
        }

        .css3 {
            @include pie-color(#F39C12);
        }

        .angular {
            @include pie-color(#b52e31);
        }

        .react {
            @include pie-color(#00d8ff);
        }

        .java {
            @include pie-color(#F39C12);
        }

        .js {
            @include pie-color(#f7df1e);
        }

        .ts {
            @include pie-color(#007acc);

            img {
                height: 32px !important;
                width: 32px !important;
            }
        }

        .npm {
            @include pie-color(#CC3534);
        }

        .spring {
            @include pie-color(#599537);
        }
    }

    #cloud {
        display: flex;
        flex-direction: column;
        
        img {
            width: 100%;
        }
    }

    .separator-main {
        min-height: 5vh;
    }

    #projects {
        .body {
            margin: 1rem auto;
            display: flex;
        }

        .project-card {
            min-height: 100px;
            max-height: 100px;
            background: white;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            height: 100%;
            flex: 1;
            margin: 1rem 0;


            .project-card-inner {
                margin: 0.25rem auto;
                width: 95%;
                display: flex;
                height: 100%;
                min-height: calc(100px - 0.5rem);
                max-height: calc(100px - 0.5rem);

                .project-card-img {
                    flex: 0.25;
                    height: 100%;
                    min-height: calc(100px - 0.5rem);
                    max-height: calc(100px - 0.5rem);

                    img {
                        width: auto;
                        min-height: calc(100px - 0.5rem);
                        max-height: calc(100px - 0.5rem);
                    }
                }

                .project-card-body {
                    flex: 0.75;
                    height: 100%;
                    min-height: calc(100px - 0.5rem);
                    max-height: calc(100px - 0.5rem);

                    padding: 2%;
                    box-sizing: border-box;
                    overflow: hidden;
                }
            }
        }
    }
}