@import '../../variables.scss';

@import url('https://fonts.googleapis.com/css?family=Sofia');
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

#MenuComponent {
    z-index: 1;
    max-width: 100vw;
    height: 100vh;
    overflow: hidden;

    background: url($base-path + '/assets/giphy.gif') no-repeat;
    background-size:cover;
    
    @media (min-width: 768px) {
        background: url($base-path + '/assets/giphy.gif') no-repeat bottom;
        background-size:cover;
    }

    //color: #F1948A;
    color: whitesmoke;

    display: grid;
    grid-template-rows: 7% 86% 7%;
    grid-template-columns: 10% 80% 10%;
    align-items: center;

    .grid-item {
        text-align: center;
        font-size: 1rem;
        text-transform: uppercase;
        font-family: 'Varela Round', sans-serif;
        font-weight: bold;
        text-shadow: 1px 1px #7E8388;
        letter-spacing: 0.1rem;
    }

    .logo {
        margin: auto;
        display:  flex;
        flex-direction: column;
        justify-items: center;
    }

    .west{ 
        display: block;

        div {
            text-transform: bold;
            -ms-transform: rotate(-90deg); /* IE 9 */
            -webkit-transform: rotate(-90deg); /* Safari 3-8 */
            transform: rotate(-90deg);
            transform-origin: center center;
            margin-top: 7vh;

            @media (min-width: 768px) {
                margin-top: 0;
            }
        }
    }
      
    .east {
        display: block;

        div {
            text-transform: bold;
            -ms-transform: rotate(90deg); /* IE 9 */
            -webkit-transform: rotate(90deg); /* Safari 3-8 */
            transform: rotate(90deg);
            transform-origin: center center;
            margin-bottom: 7vh;

            @media (min-width: 768px) {
                margin-bottom: 0;
            }
        }
    }

    .img-container img {
        width: 45vw;
        height: auto;
        border-radius: 50%;

        @media (min-width: 768px) {
            width: 20vw;
        }
    }
}