@import '../../variables.scss';

@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

#MenuComponent {
    height: $global-height;
    max-height: $global-height;
    width: $global-width;

    z-index: 1;
    overflow: hidden;

    background: url($base-path + '/assets/mobile.jpg') no-repeat;
    background-size: cover;

    @media (min-width: 768px) {
        background: url($base-path + '/assets/desktop.jpg') no-repeat bottom;
        background-size: cover;
    }

    //color: #F1948A;
    color: whitesmoke;

    display: grid;
    grid-template-rows: 7% 86% 7%;
    grid-template-columns: 10% 80% 10%;
    align-items: center;

    .grid-item {
        text-align: center;
        font-size: 1rem;
        text-transform: uppercase;
        font-family: 'Varela Round', sans-serif;
        font-weight: bold;
        text-shadow: 1px 1px #7E8388;
        letter-spacing: 0.1rem;

        -webkit-user-select: none;
        /* Chrome all / Safari all */
        -moz-user-select: none;
        /* Firefox all */
        -ms-user-select: none;
        /* IE 10+ */
        user-select: none;
        /* Likely future */
    }

    .logo {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-items: stretch;
        
        .main {
            flex: 0.6
        }

        .separator {
            flex: 0.2
        }
        
        a {
            color: white;
            text-underline-position: under;
        }
    }

    .west {
        display: block;

        div {
            text-transform: bold;
            -ms-transform: rotate(-90deg);
            /* IE 9 */
            -webkit-transform: rotate(-90deg);
            /* Safari 3-8 */
            transform: rotate(-90deg);
            transform-origin: center center;
            margin-top: 7vh;

            @media (min-width: 768px) {
                margin-top: 0;
            }
        }
    }

    .east {
        display: block;

        div {
            text-transform: bold;
            -ms-transform: rotate(90deg);
            /* IE 9 */
            -webkit-transform: rotate(90deg);
            /* Safari 3-8 */
            transform: rotate(90deg);
            transform-origin: center center;
            margin-bottom: 7vh;

            @media (min-width: 768px) {
                margin-bottom: 0;
            }
        }
    }

    .img-container img {
        width: 45vw;
        height: auto;
        border-radius: 50%;

        @media (min-width: 768px) {
            width: 20vw;
        }
    }
}