@import '../../../variables.scss';

#previewCVComponent {
    @extend %window;
    
    display: none;

    main {
        position: relative;

        .object-iframe {
            z-index: 3;
            position: absolute;
            width: 100%;
            height: 100vh;
            overflow: hidden;
            top: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .separator {
                flex: 1;
            }

            .body {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex: 2;

                p {
                    padding: 2%;
                    text-align: center;
                }
                button {
                    margin: auto;
                    width: 60%;
                }
            }


        }

        .header {
            z-index: 4;
            position: absolute;
            top: 5vh;
            width: 100%;
            margin: auto;
            padding: 0;
        }
    }
}