@import '../../variables.scss';

$laboral-color-secondary : #CACFD2;

#LaboralComponent {
    @extend %window;

    display: none;

    main {
        display: flex;
        flex-direction: column;
        align-content: space-around;

        font-family: 'Montserrat', sans-serif;
    }

    .resume {
        color: $laboral-color-secondary;
        font-size: smaller;
    }

}