@import './variables.scss';

body {
    height: $global-height;
    max-height: $global-height;
    width: $global-width;

    margin: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;


    background: url($base-path + '/assets/bodyTexture.png');
}